{% extends 'help/base.modal.twig' %} 
{% block helptitle %}Your Draft : Organise the Key Words{% endblock %}
{% block helpcontent %}
<p>On this page you can put your key words into groups.</p> 

<p>The top panel ("All Key Words") contains all the key words and key phrases extracted 
	by the system, combined in a single "default" group.</p>

<p>The bottom panel ("Your Groups") is where you create your own group(s) and populate 
	them with the key words from the "default" group.</p>

<p>key words can be re-organised by a simple drag-and-drop procedure. They can be 
	dragged from the "All Key Words" group to any of your groups, between groups or 
	back to the default group.</p> 


<p>Use the <button class="btn btn-small disabled">New Group...</button> button, 
	in the "Your Groups" panel, to create a new group. 
	Note that there is a limit to 9 groups.</p>

<p>Use the <button class="btn btn-small disabled">Reset</button> button to delete 
	<b>all</b> groups and restore the original setup. 
	<b>This cannot be undone.</b> </p>


<p>Each group has its own colour, name and description that can be changed by 
	clicking on the <button class="btn btn-small disabled"><i class="icon-wrench"></i></button>
	on each group. 
	Colours and names are used to visualise groups and key words in relevant parts of the system.<p>

<div class="alert alert-error alert-block">
    Changes to groups will be lost unless your use the <button class="btn btn-small btn-primary disabled">Save</button>
    button <b>before</b> leaving the page or closing your browser. 
</div>

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
</ul>

{% endblock %}
