{% extends 'help/base.modal.twig' %} 

{% block helpcontent %}
<p>On this page you can put your key words into groups.</p> 

<p>Start by clicking on 'New Category' under 'Groups' near the bottom of the page. </p> 

<p>Then drag and drop each of your chosen
words into the box underneath 'New Category'. When you are finished, click 'Save' under
'Groups'. To make another group, repeat the same procedure. </p> 


<p>Each group has its own
colour. Next time you visit the 'My whole assignment' page, you will be able to choose to
see these different groups highlighted by their different colours in the full text of your
assignment. Do the 'drag and drop' and then follow the links to see your new group
highlighted in the text of your assignment.</p>

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
</ul>

{% endblock %}
