<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3><i class="icon-large icon-question-sign"></i> Help on Task</h3>
</div>
<div class="modal-body">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-question"></i> About the View</a></li>
		<li><a href="#tab2" data-toggle="tab"><i class=" icon-comments"></i> Hints</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1"><p>

A man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
A man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajaxA man had a hen that laid a golden egg for him each and every day. The man was not satisfied with this daily profit. Instead, he foolishly grasped for more. Expecting to find a treasure inside, the man slaughtered the hen. When he found that the hen did not have a treasure inside her after all, he remarked to himself, "While chasing after hopes of a treasure, I lost the profit I held in my hands!"
Heading One
A wealthy Athenian was making a sea voyage with some companions. A terrible storm blew up and the ship capsized. All the other passengers started to swim, but the Athenian kept praying to Athena, making all kinds of promises if only she would save him. Then one of the other shipwrecked passengers swam past him and said, "While you pray to Athena, start moving your arms!"
		This modal was loaded in via ajax	</p>	</div>
		<div class="tab-pane" id="tab2"><p>This is some other tab content</p></div>
	</div>
	
</div>
<div class="modal-footer">
	<button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
</div>