{% extends 'help/base.modal.twig' %} 

{% block helptitle %}Your Draft : Key Sentences{% endblock %}

{% block helpcontent %}
<p>This "summary" is made up of the sentences that <span class="brand openessayist">openEssayist</span> thinks are the most prominent 
and noticeable sentences in your assignment.</p>

<p>These are the sentences that <span class="brand openessayist">openEssayist</span> thinks sum up best what your assignment is about. </p>

<p>Using the "Sort by" control, you can change the order of sentences in the "summary":</p>

<ul>
<li> Use <button class="btn btn-small" disabled="disabled">Importance</button> to show the most important sentences first, as detected by the system. 
<li> Use <button class="btn btn-small" disabled="disabled">Text Order</button> to show the sentences in the order they appear in your text.
</ul>

<p>As in the main view of your draft, sentences are identified by a colour and a symbol:</p>
<ul>
<li>The assignment question with  
		<div style="display: inline-block;" data-tag="#-s:q#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>The title of you essay with 
		<div style="display: inline-block;" data-tag="#-s:t#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>The preface of you essay with 
		<div style="display: inline-block;" data-tag="#+s:p#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>The introduction with
		<div style="display: inline-block;" data-tag="#+s:i#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>The discussion with 
		<div style="display: inline-block;" data-tag="#+s#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>The conclusion with 
		<div style="display: inline-block;" data-tag="#+s:c#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>Headings and other formatting elements with 
		<div style="display: inline-block;" data-tag="#-s:h#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>
<li>Any paragraph that could not be identified is marked with
		<div style="display: inline-block;" data-tag="#dummy#" class="par-tag">
			<span class="icon-stack">
          			<i class="icon-circle-blank  icon-stack-base"></i>
          			<i class="icon-heading "></i>
        	</span>
		</div>		
</ul> 

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
  <li><i class="icon-li icon-comments"></i>Do you agree with <span class="brand openessayist">openEssayist</span> that these sentences are a good summary of your assignment?</li>
  <li><i class="icon-li icon-comments"></i>Are any important ideas that you want to convey missing from this summary? </li>
  <li><i class="icon-li icon-comments"></i>Are there lots of sentences in the summary that are about something that you think is unimportant or irrelevant to your assignment? </li>
  
</ul>

{% endblock %}
