{% extends 'help/base.modal.twig' %} 

{% block helptitle %}Your Draft : Rainbow Diagram{% endblock %}


{% block helpcontent %}
<p>Rainbow diagram help text <span class="brand openessayist">openEssayist</span>
blah blah...</p>

<p>Blah blah....</p>

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
  <li><i class="icon-li icon-comments"></i>Rainbow Diagram Hint 3</li>
  <li><i class="icon-li icon-comments"></i>Rainbow Diagram Hint 2</li>
  <li><i class="icon-li icon-comments"></i>Rainbow Diagram Hint 1</li>
</ul>

{% endblock %}
