{% extends 'help/base.modal.twig' %} 

{% block helpcontent %}
<p>This pie chart shows the sizes of the different parts of your text, as identified by openEssayist.</p>

<p>Keep in mind that a "word count" is not an accurate operation: it depends on how you define a "word". Different software will have slightly different counts. So don't be surprise if the numbers given on the graph are not exactly the same as on your own text.</p>

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
  <li><i class="icon-li icon-comments"></i>Do you think the introduction section as recognised by openEssayist is about the right size, or has openEssayist got it wrong?</li>
  <li><i class="icon-li icon-comments"></i>Do you think you should try to lengthen the introduction? Or the conclusion?</li>
</ul>

{% endblock %}
