{% extends 'help/base.modal.twig' %} 

{% block helptitle %}Your Draft : Word Cloud{% endblock %}


{% block helpcontent %}
<p>This cloud of words is made up from some of the words in your assignment. <span class="brand openessayist">openEssayist</span>
thinks these are the topics your assignment is discussing the most.</p>

<p> The most frequent words in your assignment are the biggest words.</p>

{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
  <li><i class="icon-li icon-comments"></i>Can you pick out the three biggest words or phrases?</li>
  <li><i class="icon-li icon-comments"></i>Do you think they are important themes in your assignment?</li>
  <li><i class="icon-li icon-comments"></i>Do you think this word cloud would do a good job of explaining to someone else what your assignment is about?</li>
</ul>

{% endblock %}
