/* Add additional stylesheets below
 -------------------------------------------------- */

/* Body and structure
 -------------------------------------------------- */

body {
    background: url("../img/bgnoise.png") repeat scroll 0 0 #EEEEEE;
    padding-top: 60px;
    position: relative;
}

.container#main
{
	min-height: 250px;
}


footer {
    background-color: #F5F5F5;
    margin-top: 70px;
	border-top: 1px solid #D4D4D4;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #777777;
    margin-bottom: 0;
}
footer-links {
    margin: 10px 0;
}
footer-links li {
    display: inline;
    padding: 0 2px;
}
footer-links li:first-child {
    padding-left: 0;
}

/* Change the docs' brand */
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-left: 5px;
	/*float: right;*/
	font-weight: bold;
	/*color: #000;*/
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

img.brand-ico
{
   margin-top: -7px;
   margin-bottom: -7px;
   margin-right: 5px; 
   opacity: 0.5;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
  
}

.brand:hover img.brand-ico {
    opacity: inherit;
}

/* Responsive
 -------------------------------------------------- */

/* Desktop large
 ------------------------- */
@media (min-width: 1200px) {
}

/* Desktop
 ------------------------- */
@media (max-width: 980px) {
	
	/* Unfloat brand */
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	/* Inline-block quick links for more spacing */
	.quick-links li {
		display: inline-block;
		margin: 5px;
	}	
}

/* Tablet to desktop
 ------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
	/* Remove any padding from the body */
	body {
		padding-top: 0;
	}
	
}

/* Tablet
 ------------------------- */
@media (max-width: 767px) {
	
		/* Remove any padding from the body */
	body {
		padding-top: 0;
	}
	
}

/* Landscape phones
 ------------------------- */
@media (max-width: 480px) {
	
		/* Remove padding above jumbotron */
	body {
		padding-top: 0;
	}
	
}

/* Print
 ------------------------- */
@media print {
}