{% extends "site.twig" %} 

{% block title %}Draft - Overview{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" %}
	    <li><div class="btn-group">
    	<a href="{{ urlFor('me.drafts',{"idt":task.id}) }}" class="btn btn-small" >
    		<i class="icon-pencil"></i><span class="hidden-phone hidden-tablet"> {{ task.name }}</span></a>
	</div></li>
	<li><div class="btn-group">
    	<button class="btn btn-small active disabled">Overview</button>
    	<a href="{{ urlFor('me.draft.keywords',{"draft":draft.id}) }}" class="btn btn-small" >Keywords</a>
    	<button class="btn btn-small">Sentences</button>
    	<button class="btn btn-small">Stats</button>
    </div></li>
{% endblock %}

{% block content %}
{% endblock %}