{% extends "site.twig" %} 
{% import "widgets/ngram.macro.twig" as ngram %}

{% block title %}Draft - Keywords{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}


{% block content %}

<div class="row-fluid">

<div class="widget widget-content">
<a href="{{ urlFor('me.draft.act.keyword',{"draft":draft.id}) }}" class="btn btn-primary pull-right">
<i class="icon-wrench icon-white"></i> Organise ...</a>
</div>


</div>

	{% for key,items in keywords %}
<div class="row-fluid">
	<div class="span12">
	
		<div class="widget">
			<div class="widget-header">
				<h3> {{ key|title }}</h3>
			</div>
			<div class="widget-content"> 
				{% for item in items %}
					 {{ ngram.toBtn(item,true) }}
				{% endfor %}
			</div> 
		</div>
	</div>
</div>	{%  endfor %}

{% endblock %}


{% block injectCSS %}
<style>
.btn-ngram { white-space: nowrap; padding:2px; margin:0 0 2px 5px; }
.inlinebar, .sparkbullet {
	/*float: right;*/
	margin-left:25px;
	}
</style>
{% endblock %}

{% block injectJS %}
<script src="/assets/jquery.sparkline/jquery.sparkline.min.js"></script>
<script>
$(document).ready(function() {
	// initialise the code highlighting
	// define the sparkline for the keyword's ranking
	$('.inlinebar').sparkline('html', {
		type : 'bar',
		chartRangeMin : 0,
		chartRangeMax : .25,
		tooltipPrefix : '',
		tooltipSuffix : '',
		disableHiddenCheck : true,
		height : '18px',
		width : '100px',
		barColor : 'red',
		numberDigitGroupCount : 5,
		colorMap : {
			'.25:1' : 'green',
			'.1:.2499999' : 'red',
			'0:.0999999' : 'lightblue'
		}
	});
});
</script>
{% endblock %} 