{% extends "site.twig" %} 

{% block title %}Draft - More Text Options{% endblock %} 
{% block subheader %}Draft - More Text Options{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.group.texts'} %}
{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">

	<div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">
			<p><a class="btn btn-large"
				href="{{ urlFor('me.draft.keywords',{"draft":draft.id}) }}"><i
					class="icon-large icon-list"></i><span class="hidden-phone hidden-tablet"> Keywords</span></a></p>
			<p><a class="btn btn-large"
				href="{{ urlFor('me.draft.sentence',{"draft":draft.id}) }}"><i
					class="icon-large icon-tag"></i><span class="hidden-phone hidden-tablet"> Sentences</span></a></p>
		</div>
		</div>

</div></div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}