{% extends "site.twig" %} 


{% block title %}About{% endblock %}

{% block subheader %}About openEssayist{% endblock %} 

{% block injectCSS %}
{{ parent() }}
<style>
.widget-help
{
	min-height: 100px;
}
</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span3">
	<div class="well">
    <ul class="nav nav-list ">
    <li><a href="#about">About</a></li>
    <li><a href="#analysis">Analysis</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <li><a href="#orchestrator">Orchestrator</a></li>
    </ul></div>
</div>
<div class="span9">

<div class="widget">
	<div class="widget-header">
		<h2><a name="about"></a>What is <span class="openessaysit">openEssayist</span></h2>
	</div>
	<div class="widget-content widget-help"> 
	openEssayist is a computer program that discovers interesting characteristics of your assignment that will help you to understand your own work in different ways. This will enlighten you and help you to see your assignment with fresh eyes, and to see where there might be room for improvement.
	</div> 
</div>

<div class="widget">
	<div class="widget-header">
		<h2><a name="analysis"></a>How does <span class="openessaysit">openEssayist</span> work?</h2>
	</div>
	<div class="widget-content widget-help"> 
	openEssayist uses tried-and-tested techniques from mathematics, linguistics, computer science, and cognitive science to create different ways of displaying and representing the content of your assignment. 
	</div> 
</div>

<div class="widget">
	<div class="widget-header">
		<h2><a name="feedback"></a>What does <span class="openessaysit">openEssayist</span> tell about the essay?</h2>
	</div>
	<div class="widget-content widget-help"> 
	openEssayist tells you in different ways which are the most important words and sentences in your assignment, according to its calculations. openEssayist also tells you about your assignment's structure, according to its calculations. openEssayist does not assess your assignment and will not tell you how good, bad, or indifferent it is, or what grade it is likely to get.
		</div> 
</div>

<div class="widget">
	<div class="widget-header">
		<h2><a name="orchestrator"></a>How does <span class="openessaysit">openEssayist</span> help me to review the essay?</h2>
	</div>	
	<div class="widget-content widget-help"> 
You might disagree with what openEssayist says about your assignment. That's not a problem. openEssayist's job is to try to get you to reflect on whether the messages you want your assignment to convey are really coming through loud and clear. If you disagree with openEssayist's analysis of your assignment, please think carefully about why you disagree, and whether you think there are any improvements you could make to your assignment to ensure that your messages are coming through clearly.	</div> 
</div>

</div></div>


{% endblock %}