{% extends "site.twig" %} 

{% block title %}Consent Form{% endblock %} 
{% block breadcrumb %}{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span8 offset2">
	<div class="widget">
		<div class="widget-header">
			<h2> Consent Form </h2>
		</div>
		<div class="widget-content clearfix " >
		
<div>

<p class="lead">Before using the system, please read the following and, 
if agreeable, tick the box below.</p>

<ul>
<li>Access to the OpenEssayist system is part of a pilot research project.
<li>Access to the OpenEssayist system in completely voluntary.
<li>Your participation or non-participation will not affect your access to tutorial support or the results of your assessments in the module.
<li>While you are using the OpenEssayist system, data will be collected for the purpose of the research project. It includes: system activity logs, drafts of essay submitted to the system and their analysis, notes and reports written through the system.
<li>No data will be shared with the module team or with other students.
</ul>


</div>

		
		
<form method="post" class="form-horizontal">

<div class="form-consent">

	 <div class="control-group">
		<label class="control-label" for="consent-name">User: </label>
		<div class="controls">
		<input type="text" id="consent-name" name="username" value="{{ auth.user.username }}" readonly="readonly">
			</div>
	</div>

	
	<div class="control-group">
	 	<div class="controls">
		<label class="checkbox"> 
			<input type="checkbox" id="consent-check" name="consent" value="Accept">
			I am willing to take part in this research project.
		</label>
		</div>
	</div>

</div>
<div class="form-actions">
	<button class="btn btn-primary" id="consent-submit" type="submit" name="action" value="Submit" disabled="disabled">Accept</button> 
	<button class="btn " id="consent-cancel" type="submit" name="action" value="Cancel" >Cancel</button>
</div>
								
</form>	
		
		
		</div>
	</div>
</div></div>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>

.form-consent {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}

.form-consent .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 70px;
}


.form-horizontal .controls {
    margin-left: 80px;
}

.consent-form input
{
  margin-bottom: 0px;
}
</style>
{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script type="text/javascript">

$(document).ready(function(){
	$("#consent-check").click(function() {
		  $("#consent-submit").attr("disabled", !this.checked);
		});
});
</script>
{% endblock %}