{% extends "site.twig" %} 

{% block title %}Login{% endblock %} 

{% block content %}
<div class="row-fluid">



	<div class="span6 offset3">
		<form class="form-signin" action="{{ urlFor('login') }}" method='POST'>
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" placeholder="Username" name="username"
				id="username" class="input-block-level tt"> <input type="password"
				name="password" id="password" placeholder="Password"
				class="input-block-level"> 
				
				<div class="form-actions">
			<button type="submit" class="btn btn-large btn-primary">Sign in</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block notification %}
<div class="row-fluid">
<div class="span8 offset2" id="notification">
	{% if flash.info %}
	<div class="alert-box alert alert-info">{{ flash.info }}</div>
	{% endif %} 
	
	{% if flash.error %}
	<div class="alert-box alert alert-error">{{ flash.error }}</div>
	{% endif %}
</div>
</div>
{% endblock %}

{% block injectCSS %}
<style>
 .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }	
</style>
{% endblock %}