{% extends "site.twig" %} 

{% block title %}Welcome{% endblock %} 

{% block content %}

<div id="notification">
	{% if flash.info %}
	<div class="alert-box success">{{ flash.info }}</div>
	{% endif %} 
	
	{% if flash.error %}
	<div class="alert-box alert">{{ flash.error }}</div>
	{% endif %}
</div>

<div class="row-fluid">
	<div class="span6 offset3">
		<form class="form-signin" action="{{ urlFor('login') }}" method='POST'>
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="text" placeholder="Username" name="username"
				id="username" class="input-block-level tt"> <input type="password"
				name="password" id="password" placeholder="Password"
				class="input-block-level"> <label class="checkbox"> <input
				type="checkbox" value="remember-me"> Remember me
			</label>
			<button type="submit" class="btn btn-large btn-primary">Sign in</button>
		</form>
	</div>
</div>




{% endblock %}
