{% extends "site.twig" %} 

{% block title %}Feedback{% endblock %} 
{% block breadcrumb %}{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">
	<div class="widget">
		<div class="widget-header">
			<h2> Feedback Form </h2>
		</div>
		<div class="widget-content clearfix " >
		
<div>

<p class="lead">Help us to improve openEssayist.</p>

</div>

		
		
<form method="post" class="">

<fieldset>

<div class="control-group">
	<label for="feedback-text" class="control-label">Your comments:</label>
	<div class="controls">
		<textarea class="boxborder" rows="15" 
			name="text" id="feedback-text" placeholder="type your feedback here"
			required="required">{{ form.text }}</textarea>			
			
	</div>
</div>

<input type="hidden" name="referer" id="feedback-referer"
			{{ form.referer ? "value="~form.referer}}>

</fieldset>

<div class="form-actions">
	<button class="btn btn-primary" id="consent-submit" type="submit">Send the report</button> 
</div>
								
</form>	
		
		
		</div>
	</div>
</div></div>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
	.boxborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
              resize: vertical;
    width: 100%;
}
</style>
{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}