{% extends "site.twig" %} 

{% block title %}Welcome{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset2">
		<div class="hero-unit">
			<h1>Hello, World!</h1>
			<p>This is the running prototype of openEssayist.</p>
			<p>
				
				<a href="{{ urlFor('about') }}" class="btn btn-primary btn-large">Learn more
					&raquo;</a> 
				
				
				{% if not auth.loggedIn()  %} 
				<a href="{{ urlFor('login') }}"
					class="btn btn-large">Login &raquo;</a> 
				{% endif %}
			</p>
		</div>
	</div>
</div>

{% endblock %}	
