{% extends "site.twig" %} 

{% block title %}Welcome{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8 offset2">
		<div class="hero-unit">
			<h1>openEssayist</h1>
			<p></p>
			{#<p class="lead">This is the running prototype of <span class="brand openessayist">openEssayist</span>.</p>#}
			<p>
				
				<a href="{{ urlFor('about') }}" class="btn btn-primary btn-large" title="Go to a brief description of openEssayist" rel="tooltip" data-placement="bottom" >Learn more
					&raquo;</a> 
				
				
				{% if not auth.loggedIn()  %} 
				<a href="{{ urlFor('login') }}"
					class="btn btn-large">Login &raquo;</a> 
				{% endif %}
			</p>
		</div>
	</div>
</div>

{% endblock %}	
