{% block bccontainer %} 

{% if navsrc=='me.home' %}
<li class="active"><span class="">Home</span></li>

{% elseif navsrc=='me.tasks' %}
<li><a title="Go back to your homepage"
		href="{{ urlFor('me.home') }}"><span class="">Home </span></a></li>

<li class="active"><span class="">Assignments</span></li>

{% else %}
<li><a title="Go back to your homepage"
		href="{{ urlFor('me.home') }}"><span class="">Home </span></a></li>

<li class="active">
		<a title="Go back to your assignments"
			href="{{ urlFor('me.tasks') }}"><span class="">Assignments</span></a></li>
{% endif %}
{% endblock %}


