{% block bccontainer %}
	<li>
    	<a class="btn btn-small" title="Go to your homepage" href="{{ urlFor('me.home') }}"><i class="icon-home"></i></a>
    	
	</li>

	{% if task is defined or group is defined or true %}
    <li>
    	<a class="btn btn-small " title="Go to your assignments" href="{{ urlFor('me.tasks') }}"><i class="icon-book"></i><span class="hidden-phone hidden-tablet">  Assignments</span></a>
	</li>
	{% endif %}
{% endblock %}