{% block bccontainer %}
	<li><div class="btn-group">
    	<a class="btn btn-small" href="{{ urlFor('me.home') }}"><i class="icon-home"></i></a>
	</div></li>
    <li><div class="btn-group">
    	<a class="btn btn-small" href="{{ urlFor('me.tasks') }}"><i class="icon-book"></i><span class="hidden-phone hidden-tablet">  Assignments</span></a>
	</div></li>
{% endblock %}