{% macro toBtn(ngram,showScore=false) %}
	<button class="btn btn-mini btn-ngram">
	<span class="label label-info">{{ ngram.count }}</span>
		<span>{{ ngram.ngram|join(" ") }}</span>
		{% if showScore %}
			<span class="inlinebar">{{ ngram.score|join(',') }}</span>
		{% endif %}
	</btn>
{% endmacro %}