{% macro toBtn(ngram,showScore=false) %}
	<a class="btn btn-mini btn-ngram" id="{{ ngram.ngram|join("") }}">
	<span class="label label-info">{{ ngram.count }}</span>
		<span>{{ ngram.ngram|join(" ") }}</span>
		{% if showScore %}
			<span class="inlinebar">{{ ngram.score|join(',') }}</span>
		{% endif %}
	</a>
{% endmacro %}