{% extends "site.twig" %} 

{% block title %}Admin / Feedback{% endblock %} 

{% block content %}


{% for report in reports %}
<div class="row-fluid">

	<div class="span12"><div class="widget">
		<div class="widget-header">
			<h2>{{ (report.user.name) }} {{ "[ " ~ (report.date ?:"?") ~ " ]" }}</h2>
		</div>
		<div class="widget-content" id="feedback-log">
		{{ (report.text) }}
		</div> 
	</div></div>
</div>
{% else %}
<div class="alert alert-block alert-error"><div class="row-fluid">

	<i class="icon-quote-left icon-5 span2" style="font-size: 7em;"></i>
		
	<div class="span10">
		<h2>No reports so far.</h2>
	</div>
</div></div>
{% endfor %}

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %} 