<!DOCTYPE html>
<html>
<head>
{% block head %}
	<title>{% block title %}{% endblock %} - openEssayist</title> 
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Nicolas Van Labeke (IET - Open University)">
	
	<!-- Le styles -->
	{#<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<link href="/assets/jquery-ui-1.9.2.custom/css/bootstrap/jquery-ui-1.9.2.custom.css" rel="stylesheet">#}
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet">
	<link rel="stylesheet" title="jTour" href="/assets/jquery-tour/css/theme4/style.css">
	<link href="/assets/openessayist/css/application.css" rel="stylesheet">
	<link href="/assets/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
	{% block injectCSS %}
	{% endblock %}
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/assets/openessayist/img/favicon.ico">
	<style>
	/* Sticky footer styles
      -------------------------------------------------- */
	html,body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push {
        height: 30px;
      }
      
      footer.footer {
        height: 29px;
      }
      
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
      
	</style>
{% endblock %}
</head>
<body>
	<div id="wrap">
	{% block navbar %}
		{% include "widgets/navbar.panel.twig" %}
	{% endblock %}

	
	<!-- Content ================================================== -->
	<div class="container" id="main">
	
		
		{% block breadcrumb %}
		<div class="breadcrumb">
			<ul class="breadcrumb">{% block bccontainer %}{% endblock %}</ul>
			<h1 class="subdhead">{% block subheader %}{% endblock %}</h1>
			<div class="navbarhead">{% block navsubheader %}{% endblock %}</div>
			</div>
		{% endblock %}
		
		<div class="row-fluid">
			<div class="span12" style="min-height: 150px;">
			
			{% block notification %}
				<div class="row-fluid">
					<div class="span10 offset1" id="notification">{% if flash.info %}
						<div class="alert-box alert alert-info">{{ flash.info|raw }}</div>
					{% endif %}{% if flash.error %}
						<div class="alert-box alert alert-error">{{ flash.error|raw }}</div>
					{% endif %}{% if flash.tutor %}
						<div class="alert-block alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<h4>Help on the task</h4>
							<hr>
							{{ flash.tutor|raw }}
						</div>
					{% endif %}</div>
				</div>
			{% endblock %}
			
			{% block content %}{% endblock %}
			</div>
			
			
		</div>
		
		{% block debug %}{% endblock %}
		
	</div>
	<div id="push"></div>
</div>
	{% block toolcontainer %}
	{% endblock %}
	
	
	<!-- Footer ================================================== -->
	<footer class="footer">
		<div class="container">
		{% block footer %}
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p>openEssayist v2.2 - Designed and built with all the love in the world by <a
					href="https://github.com/vanch3d" target="_blank"><img
					alt="GitHub" src="/assets/openessayist/img/github.jpg">vanch3d</a>.
			</p>
		{% endblock %}			
		</div>
	</footer>
	
	
	
		<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--[if lt IE 9]>
		<script src="/assets/openessayist/js/aight.min.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

	
	{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/assets/jquery-ui-1.9.2.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.js"></script>#}
	<script src="/assets/jquery-tour/js/jTour.js"></script>
	<!-- <script src="/bootstrap/openEssayist.js"></script> -->
	<script src="/assets/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
	<script src="/assets/bootstrap-modal/js/bootstrap-modal.js"></script>
	<script src="/assets/log4javascript-1.4.6/log4javascript.min.js"></script>
	<script id="log4js" type="text/javascript">
	$(document).ready(function() {
		var log = log4javascript.getLogger("main");
		log.setLevel(log4javascript.Level.TRACE);

		{% if auth.user.isadmin %}
		var appender = new log4javascript.InPageAppender(null,true,false);
		appender.setShowCommandLine(false);
		log.addAppender(appender);

		$('#admin-settings-btn').click(function(){
			if (appender.isVisible())
				appender.hide();
			else
				appender.show();
			});
		
		{% endif %}
		
		var ajaxAppender = new log4javascript.AjaxAppender("{{ urlFor('ajax.log.activity') }}");
		ajaxAppender.setLayout(new log4javascript.JsonLayout());
		ajaxAppender.setWaitForResponse(false);
		//ajaxAppender.setSendAllOnUnload(true);
		//ajaxAppender.setBatchSize(10);
		log.addAppender(ajaxAppender);
		//$(window).unload(function() {
		//	log.sendAll();
		//});	

		$(document).ready(function () {
		    if ($("[rel=tooltip]").length) {
		        $("[rel=tooltip]").tooltip();
		    }
		});	
	});	
	</script>
	{% block injectJS %}
	{% endblock %}
	
</body>
</html>
