<!DOCTYPE html>
<html>
<head>
{% block head %}
	<title>{% block title %}{% endblock %} - openEssayist</title> 
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Nicolas Van Labeke (IET - Open University)">
	
	<!-- Le styles -->
	<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<link href="/assets/jquery-ui-1.9.2.custom/css/bootstrap/jquery-ui-1.9.2.custom.css" rel="stylesheet">
	<link href="/assets/openessayist/css/application.css" rel="stylesheet">
	{% block injectCSS %}
	{% endblock %}
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/assets/openessayist/img/favicon.ico">
	<style>
	/* Sticky footer styles
      -------------------------------------------------- */
	html,body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push {
        height: 30px;
      }
      
      footer.footer {
        height: 29px;
      }
      
      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
      
	</style>
{% endblock %}
</head>
<body>
	<div id="wrap">
	{% block navbar %}
		{% include "widgets/navbar.panel.twig" %}
	{% endblock %}

	<!-- Subhead ================================================== -->
	<header class=subdhead id="overview">
		{% block subheader %}{% endblock %}
	</header>
	
	<!-- Content ================================================== -->
	<div class="container" id="main">
	
		
		{% block breadcrumb %}
			<ul class="breadcrumb">{% block bccontainer %}{% endblock %}</ul>
		{% endblock %}
		
	
		<div class="row-fluid">
			<div class="span12" style="min-height: 150px;">
			
			{% block notification %}
				<div class="row-fluid">
					<div class="span10 offset1" id="notification">{% if flash.info %}
						<div class="alert-box alert alert-info">{{ flash.info|raw }}</div>
					{% endif %}{% if flash.error %}
						<div class="alert-box alert alert-error">{{ flash.error|raw }}</div>
					{% endif %}</div>
				</div>
			{% endblock %}
			
			{% block content %}{% endblock %}
			</div>
			
			
		</div>
		
		{% block debug %}{% endblock %}
		
	</div>
	<div id="push"></div>
</div>
	
	<!-- Footer ================================================== -->
	<footer class="footer">
		<div class="container">
		{% block footer %}
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p>Designed and built with all the love in the world by <a
					href="https://github.com/vanch3d" target="_blank"><img
					src="/assets/openessayist/img/github.jpg">vanch3d</a>.
			</p>
		{% endblock %}			
		</div>
	</footer>
	
	
	
		<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="/assets/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.js"></script>
	<!-- <script src="/bootstrap/openEssayist.js"></script> -->
	{% block injectJS %}
	{% endblock %}
	
</body>
</html>
