{% extends "site.twig" %} 

{% block title %}Dashboard{% endblock %} 
{% block subheader %}Dashboard{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" with {'navsrc': 'me.home'} %}
{% endblock %}


{% block navsubheader %}
<div class="navbar">
    <div class="navbar-inner">
    	<span class="brand" href="#">&nbsp;</span>
    	<ul class="nav">
 			<li><a title="Go to your assignments and drafts" 
 					href="{{ urlFor('me.tasks') }}" rel="tooltip" data-placement="bottom">
				<i class="icon-folder-open icon-large"></i> 
				<span class="hidden-phone hidden-tablet">Assignments</span>
			</a></li>

    	</ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row-fluid">

<div class="span7"><div class="widget">
	<div class="widget-header">
		<h3>to do ...</h3>
	</div>
			
	<div class="widget-content"></div>

	
	
	
</div></div>

		<div class="span5"><div class="widget">
	<div class="widget-header" >
		<h3>Activity Log</h3>
	</div>
			
	<div class="widget-content">
		<div id="thisis">This functionality has not be implemented yet.</div>
	</div>
	
</div></div>	
						
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}