{% extends "site.twig" %} 

{% block title %}Dashboard{% endblock %} 
{% block subheader %}Dashboard{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" %}
{% endblock %}

{% block content %}

<div class="row-fluid">

<div class="span7"><div class="widget">
	<div class="widget-header">
		<h3>to do ...</h3>
	</div>
			
	<div class="widget-content"></div>

	
	
	
</div></div>

		<div class="span5"><div class="widget">
	<div class="widget-header" >
		<h3>Activity Log</h3>
	</div>
			
	<div class="widget-content">
		<div id="thisis">to do...</div>
	</div>
	
</div></div>	
						
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}