{% extends "site.twig" %} 

{% block title %}Dashboard{% endblock %} 
{% block subheader %}Dashboard{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" with {'navsrc': 'me.home'} %}
{% endblock %}


{% block navsubheader %}
<div class="navbar">
    <div class="navbar-inner">
    	<span class="brand" href="#">&nbsp;</span>
    	<ul class="nav">
 			<li><a title="Go to your assignments and drafts" 
 					href="{{ urlFor('me.tasks') }}" rel="tooltip" data-placement="bottom">
				<i class="icon-folder-open icon-large"></i> 
				<span class="hidden-phone hidden-tablet">Assignments</span>
			</a></li>

    	</ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12"><div class="widget">
	<div class="widget-header">
		<h3>Quick Links</h3>
	</div>
			
	<div class="widget-content">
	
	
	<div class="row-fluid">	

				<a class="quick-button metro green span2" title="Go to your assignments and drafts" 
 					href="{{ urlFor('me.tasks') }}" >
					<i class="icon-folder-open"></i>
					<p>Assignments</p>
				</a>
				
				{#<a class="quick-button metro black span2">
					<i class="icon-pencil"></i>
					<p>Your last draft</p>
					<span class="badge">v8</span>
				</a>#}
				
				<div class="clearfix"></div>
								
			</div>
	
	</div>

	
	
	
</div></div>
</div>

<div class="row-fluid">

<div class="span7"><div class="widget">
	<div class="widget-header">
		<h3>Getting Help and Support</h3>
	</div>
			
	<div class="widget-content">
	
		<div class="row-fluid">
			<div class="span6">
					
				<p><a class="btn btn-large" title="Overview of your progress on this assignment" 
			 			href="http://open.ac.uk">
					<i class="icon-2x pull-left icon-group"></i> 
					Go to the <b>openEssayist</b><br>forum on the VLE
				</a></p>
			
			</div>
			<div class="span6">
				<p>
				</p>
				<p>To use in emergencies only</p>
			</div>

		</div>
		
		<div class="row-fluid">
			<div class="span6">
					
				<p><a class="btn btn-large" title="Overview of your progress on this assignment" 
			 			href="mailto:open.essayist@open.ac.uk" >
					<i class="icon-2x pull-left icon-envelope"></i> 
					Send an email to the<br><b>SAFeSEA</b> team ...
				</a></p>
			
			</div>
			<div class="span6">
				<p> 
				</p>
				<p>To use in emergencies only</p>
			</div>

		</div>
	
	</div>
	
	
</div></div>

		<div class="span5"><div class="widget">
	<div class="widget-header" >
		<h3>Activity Log</h3>
	</div>
			
	<div class="widget-content">
		<div id="thisis">This functionality has not be implemented yet.</div>
	</div>
	
</div></div>	
						
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
.quick-button {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #646464;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 30px 0 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease 0s;
}
.quick-button:hover {
    border-color: #A5A5A5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    color: #444444;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: all 0.3s ease 0s;
}
.quick-button:hover .notification {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}
.quick-button i {
    font-size: 32px;
}
.quick-button.metro {
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    filter: none;
    padding: 30px 10px 0;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.quick-button.metro p {
    margin-top: 20px;
    text-align: left;
}
.quick-button.metro:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
}
.quick-button.metro i {
    font-size: 64px;
    text-align: center !important;
}
.quick-button.metro .badge {
    background: none repeat scroll 0 0 transparent;
    left: 70%;
    position: absolute;
    text-align: center !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    top: 50%;
}

.quick-button.metro.green {
    background: none repeat scroll 0 0 #00A300 !important;
    /*border-color: #00A300 !important;
    color: #FFFFFF;*/
}

.quick-button.metro.black {
    background: none repeat scroll 0 0 #00A300 !important;
    /*border-color: #00A300 !important;
    color: #FFFFFF;*/
}

.quick-button.metro.black {
    background: none repeat scroll 0 0 #FFC40D !important;
    border-color: #FFC40D !important
}



</style
{% endblock %}